@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  background: #F8F6F4;
}
.ttl{
  font-family: "Baskervville", serif;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.6;
  }
}