/*makeup&hairstyle*/

.makeup_and_hairstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #f8f4f0;
  font-family: "Baskervville", serif;
 
}

.makeup_and_hairstyle_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #725A58;
}

.title_make{
  display: block;
  max-width: 500px;
  font-size: 68px;
  padding-top: 60px;
  margin-bottom: 16px;
  font-family: "Baskervville", serif;
}

.line_divider {
  width: 60px;
  height: 3px;
  background-color: #e3b6b1;
  margin-bottom: 24px;
}

.makeup_and_hairstyle_content p {
  max-width: 400px;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.6;
}

.makeup_and_hairstyle_content button {
  background-color: transparent;
  color: #a77c6c;
  border: 2px solid #a77c6c;
  padding: 12px 28px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.makeup_and_hairstyle_content button:hover {
  background-color: #a77c6c;
  color: white;
}

.images_events {
  flex: 1 1 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.event_box {
  position: relative;
}

.overlay_box img {
  width: 100%;
  display: block;
}

.overlay_event {
  display: block;
  position: absolute;
  bottom: 16px;
  left: -40px;
  font-size: 40px;
  font-family: "Baskervville", serif;
  color: #FAE9E7;
  z-index: 100;

  span{
    color: #B99692;
  }
}

.img_dimens{
  width: 200px;
}

.img_central{
  width: 300px;
}

.img_sides{
  left: -26px;
}

.images_events img {
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.images_events img:hover {
  transform: scale(1.05);
}

.image_wrap{
  position: relative;
  display: inline-block;
}

.image_wrap::before {
  content: "";
  position: absolute;
  top: -20px;      
  left: 20px;     
  width: 100%;
  height: 100%;
  background-color: #f8f4f0;  
  border: 2px solid #a77c6c;
  z-index: 0;
}

.image_wrap img {
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/*Responsive makeup&hairstyle*/
@media (max-width: 768px) {
  .makeup_and_hairstyle {
    width: 100vw;
    flex-direction: column;
    padding: 40px 20px;
    gap: 32px;
  }

  .title_make {
    font-size: 50px;
    padding-top: 40px;
    max-width: 300px;
  }

  .line_divider {
    margin: 0 auto 24px auto;
  }

  .makeup_and_hairstyle_content p {
    max-width: 100%;
    font-size: 20px;
    padding: 0 12px;
  }

  .makeup_and_hairstyle_content button {
    padding: 10px 24px;
    font-size: 16px;
  }

  .images_events {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .event_box{
    width: 100%;
    align-self: center;
    justify-content: center;
  }

  .img_dimens{
    max-width: 527px;
  }

  .image_wrap{
    width: 100%;
  }
  
  .image_wrap::before{
    content: none;
    display: none;
  }

  .overlay_event {
    color: #F8F6F4;
    bottom: 12px;
    left: 0;
    font-size: 86px;
    text-align: center;
    width: 100%;

    span{
      color: #F8F6F4;
    }
  }
}



/*Make up 101 Section*/
.makup_title{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 68px;
    font-family: "Baskervville", serif;
    color: #725A58;
    letter-spacing: 0.15em;
    margin-bottom: 8px;
    margin-top: 40px;
    width: 100%;
}

.makeup_101{
    display: grid;
    grid-template-columns: 1fr 450px;
    align-items: start;
    gap: 60px;
    padding: 0 0 40px 0;
    background-color: #FAE9E7;
    font-family: "Baskervville", serif;
    margin-left: 40px;
    margin-right: 40px;

    ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    li{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }
}

.makeup_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin-left: 300px;
}


.card-content{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: 1;

    img{
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
}

.text-block{
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2{
        font-size:32px;
        color:#725A58;
        font-family: "Baskervville", serif;
        left: 0;
        top: 0;
        margin: 0;
        padding-left: 30px;
    }

    p{
        font-size: 0.95rem;
        font-family: "Lato", sans-serif;
        color: black;
        margin-top: 0;
        margin-right: 50px;
        padding-left: 0;
    }
}

.makeup_content ul li:nth-of-type(2) .text-block {
  transform: translateX(-45px);
}

.arrow-button{
    color: #5E4A49;
    border: none;
    background-color: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    align-self: center;
    align-self: center;
    margin-left: 40px;
}

.arrow-button:hover{
    background: none;
    border: 1px solid black;
}


.all_classes{
    align-self: flex-start;
    margin-top: 32px;
    padding: 8px 32px;
    font-size: 1rem;
    font-family: "Baskervville", serif;
    font-weight: 500;
    background: transparent;
    color: #5E4A49;
    border: 1px solid #5E4A49;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    padding: 16px 32px;
}

.all_classes:hover{
    background-color: #7d6b6b;
    color: #fff;
}

.makeup_img{
    display: flex;
    align-items: start;
    width: 400px;
    margin-right: 300px;
}

.image_makeup_101{
    width: 100%;
    height: 100%;
    max-width: 340px;
    outline: 2px solid white;
    outline-offset: -15px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.arrow_content{
  display: flex;
  align-items: center;
  gap: 12px;
}

.arrow-text {
  display: none;
}


/*Responsive menu*/
/*Responsive Makeup 101*/
@media (max-width: 768px) {
  .makeup_101 {
    grid-template-columns: 1fr;
    width: 100vw;
    gap: 40px;
    margin: 0;
    padding: 15px;
  }

   .makup_title {
    font-size: 60px;
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .makeup_content {
    margin-left: 0;
    width: 100%;
    align-items: center;
    text-align: center;

     ul li{
        display: flex;
        flex-direction: column; 
        align-items: center;   
        text-align: center;   
        gap: 16px;
    }
  }

  .makeup_content ul li:nth-of-type(2) .text-block {
  transform: translateX(-4px);
}

  .makeup_img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .image_makeup_101 {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  } 

  .text-block h2 {
    font-size: 28px;
    text-align: center;
  }

  .text-block p {
    font-size: 20px;
    margin-right: 0;
    text-align: center;
    max-width: 400px;
  }

  .arrow_content{
    gap: 0;
  }

  .arrow-button {
    margin-left: -4px;
  }

  .all_classes {
    width: 100%;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    font-size: 16px;
    overflow: hidden;
  }

  @media (max-width: 380px){
    .all_classes{
    width: 100%;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    font-size: 16px;
    overflow: hidden;
    }  
  }

  .arrow-text {
    display: inline;
    font-size: 1rem;
    color: #725A58;
    font-family: "Baskervville", serif;
  }
}



/*DIY Section */
.diy_beauty{
    padding: 60px 40px;
    background-color: transparent;
    font-family: "Baskervville", serif;
    text-align: center;
}

.diy_gallery{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.video_box{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    overflow: hidden;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.diy_title {
  text-align: center;
  font-size: 2rem;
  font-family: "Baskervville", serif;
  color: #725A58;
  margin-bottom: 32px;
  letter-spacing: 0.05em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;

  p{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: left;
  }
}

.play_button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.play_button:hover {
  color: #7d6b6b;
}

.button_tips{
    text-align: center;
}

.view_more{
  padding: 14px 32px;
  font-size: 1rem;
  background: transparent;
  color: #725A58;
  border: 1px solid #725A58;
  border-radius: 0;
  box-shadow: none;
  font-family: "Baskervville", serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view_more:hover{
    background-color: #725A58;
    color: #fff;
}


/*Responsive DIY Section*/
@media (max-width: 768px) {
  .diy_gallery {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0 40px;
    scroll-padding: 40px;
    gap: 1rem;
    scroll-behavior: smooth;
    width: 100%!important;
  }

  .diy_gallery::-webkit-scrollbar{
    display: none;
  }

  .video_box {
    flex:0 0 auto;
    max-width: 100%;
    min-width: 300px;
    position: relative;
    height: auto;
    scroll-snap-align: start;    
  }

  .video_box video {
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    justify-content: flex-end;
  }

  .overlay p {
    font-size: 0.9rem;
    padding-left: 12px;
    padding-bottom: 12px;
    line-height: 1.4;
  }

  .play_button {
    top: 12px;
    right: 12px;
    width: 26px;
    height: 26px;
    font-size: 0.9rem;
  }

  .diy_title {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .view_more {
    padding: 10px 24px;
    font-size: 0.9rem;
  }
}


/*Let's talk Section*/

.lets_talk{
    padding: 60px 40px;
    font-family: "Baskervville", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1{
        font-size: 68px;
        letter-spacing: 0.08em;
        color: #725A58;
        margin-bottom: 16px;
    }

    p{
        font-size: 1rem;
        color: black;
        margin-bottom: 32px;
        max-width: 400px;
        font-family: "Lato", sans-serif;
    }

    form{
        background-color: #f7e7e7;
        padding: 40px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        width: 100%;
        max-width: 600px;
        text-align: left;
    }

    fieldset{
        border: none;
        margin-bottom: 24px;
    }

    legend{
        font-size: 1.2rem;
        font-weight: bold;
        color: #725A58;
        margin-bottom: 16px;
    }

    label{
        font-weight: 500;
        color: #333;
        margin-right: 12px;
    }
}

.field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

/*Form*/

.form_title{
    text-align: center;
    font-size: 2rem;
    font-family: "Baskervville", serif;
    color: #725A58;
    margin-bottom: 8px;
}

.divider {
  width: 100%;
  max-width: 580px;
  height: 1px;
  background-color: black;
  margin: 0 auto 24px auto;
  border-radius: 1px;
}


/*Event type section*/

.event_type{

      display: flex;
      flex-direction: row;

    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        padding: 0;
        gap: 10px;
        padding: 0;
        margin: 0;    
    }

    li{
        background-color: white;
        border: 2px solid #e0cfcf;
        padding: 5px;
        display: flex;
        gap: 20px;
        width: 100%;
    }

    label{
        display: flex;
        justify-content: space-between;
        font-family: "Baskervville", serif;
        font-size: 1rem;
        color: #725A58;
        cursor: pointer;
        gap: 12px;
        width: 100%;
    }

}

.radio_group {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-family: 'Cormorant Garamond', serif;
}

.radio_option {
  display: flex;
  justify-content: space-between!important;
  width: 500px;
  gap: 12px;
  padding: 2px;
  cursor: pointer;
  font-size: 1rem;
  color: #7d6b6b;
  position: relative;
}


.radio_option input[type="radio"] {
  display: none;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #e3b6b1;
  border-radius: 50%;
  position: relative;
  background-color: white;
  transition: background 0.3s ease;
}

.radio_option input[type="radio"]:checked + .circle::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  color: white;
  background-color: #e3b6b1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Event date section*/

.eventDate_container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-direction: row;
    margin-bottom: 24px;

    legend{
        margin: 0;
    }

    fieldset{
        width: 100%;
        border: none;
    }
}

.field_date{
    gap: 12px;
    margin-top: 4px;
    input[type="date"] {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    background-color: #FBFAFA;
    font-family: "Baskervville", serif;
    }

    input[type="checkbox"]{
        margin-top: 8px;
        all: revert;
    }

}

.field_time select{
    margin-top: 4px;
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    background-color: #FBFAFA;

}

.field_time select:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

.field_time  input[type="checkbox"]{
        margin-top: 8px;
        background-color: #FBFAFA;
        all: revert;
}


/*Name on the form*/

.contact_services_section{
    padding: 0;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.field_block {
  font-family: "Baskervville", serif;
  margin-right: 100px;
}

.field-block input[type="text"]{
    width: 100%;
    max-width: 560px;
    padding: 10px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    font-family: "Baskervville", serif;
    padding-right: 10px;
    background-color: #FBFAFA;
}

/*Contact section*/

.contact_services_section{
    max-width: 580px;
}



.contact_methods{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact_methods input[type="radio"]{
    all: revert;
    accent-color: #725A58;
}

.contact_methods input[type="number"],
.contact_methods select{
    padding: 10px 12px;
    font-size: 1rem;
    font-family: "Baskervville", serif;
}
.contact_methods input[type="number"]{
    min-width: 450px;
}

.phone_input{
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #d5c4c4;
    overflow: hidden;
}

.phone_input select {
  border: none;
  background-color: transparent;
  padding: 10px 14px;
  font-size: 1rem;
  color: #725A58;
  font-family: "Baskervville", serif;
  border-right: 1px solid #d5c4c4;
}

.phone_input input[type="number"] {
  flex: 1;
  border: none;
  padding: 10px 14px;
  font-size: 1rem;
  font-family: "Baskervville", serif;
  color: #333;
}

.phone_input input:focus {
  outline: none;
}

.email_input{
    max-width: 552px;
}

.email_input input[type="email"]{
    padding: 10px 14px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid #d5c4c4;
    width: 100%;
}

.button_submit {
  text-align: center;
  margin-top: 32px;
}

.button_submit button {
 padding: 14px 32px;
  font-size: 1rem;
  background: transparent;
  color: #725A58;
  border: 1px solid #725A58;
  border-radius: 0;
  box-shadow: none;
  font-family: "Baskervville", serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_submit button:hover {
  background-color: #725A58;
  color: #fff;
}

//keep invisible some elements before to check some of the radio buttons
.hidden{
    display: none;
}
/*Responsive form*/
@media (max-width: 768px) {
  .lets_talk {
    width: 100vw;
    padding:15px;
  }

  .lets_talk h1 {
    width: 100%;
    font-size: 60px;
  }

  .lets_talk p {
    width: 100%;
    font-size: 20px;
  }

  .event_type ul {
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
  }

  .event_type li{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .event_type label{
    display: flex;
    justify-content: space-between;
  }

  .eventDate_container {
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
  }

  .contact_methods input[type="number"] {
    min-width: 100%;
  }

  .form_title {
    font-size: 30px;
  }

  .field_block {
    margin-right: 0;
    font-size: 20px;
  }
  .radio_option{
    width: 500px!important;
  }

  .radio_group {
    flex-direction: column;
    font-size: 20px;
  }

  .button_submit {
    margin-top: 24px;
  }

  .button_submit button {
    width: 100%;
  }
}
